<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{item.name}}</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    {% for item in order.items.all %}
        <h1>{{ item.name }}</h1>
        <p>{{ item.description }}</p>
        <p>{{ item.price }}</p>
    {% endfor %}

    <button id="buy-button">Buy</button>

    <script>
        var buyButton = document.getElementById("buy-button");
        const stripe = Stripe("{{settings.STRIPE_PUBLISHABLE_KEY}}");
        buyButton.addEventListener("click", function() {
            fetch("/buy/{{ order.id }}/")
                .then(function(response) {
                    return response.json();
                })
                .then(function(data) {
                    stripe.redirectToCheckout({
                        sessionId: data.session_id,
                    });
                });
        });
    </script>
</body>
</html>

